<footer class="footer">
  <div class="footer-wraper">

    <div class="social">
      {% for social in site.data.contact.socials %}
        <a class="social__icon" href="{{ social.url }}" target="_blank" data-background="{{ social.color }}">
          <i class="fa  fa-{{ social.icon }}"></i>
        </a>
      {% endfor %}
    </div>

    <p class="footer__recognition">
      Made with <i class="fa  fa-heart"></i> by <a href="http://unaiabrisketa.com" target="_blank">Unai Abrisketa</a>
    </p>

  </div>
</footer>

<script src="/assets/js/functions.js"></script>
