<div class="navbar navbar--transparent">
  <div class="navbar-wraper">

    <a class="navigation__icon  animate__scroll" href="#header">{{ site.data.general.name | slice: 0 | capitalize }}</a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#experience">Experience</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#skills">Skills</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#projects">Projects</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__button">
      <i class="fa  fa-bars"></i>
    </div>

    <div class="navigation__background"></div>

  </div>
</div>
