<div class="navbar navbar--transparent">
  <div class="navbar-wraper">
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#about-me">About me</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#experience">Experience</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#skills">Skills</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#projects">Projects</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link  animate__scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
