.arrow__up
  +size(5rem)
  +position(fixed, null .5em .5em null)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 4px
  font-size: 3.2rem
  background: $arrow-background
  border: 2px solid $arrow-border
  color: $arrow-color
  display: none

  &:hover
    background: $arrow-background-hover
    border: 2px solid $arrow-border-hover
    color: $arrow-color-hover
